* {
    box-sizing: border-box;
}


.nav li {
  display: inline;}

.pull-left {
	float: left;
	padding-right: 100px;}

.pull-right {
	float: right;
	margin-right: 80px;}

.jumbotron .container {
  position: relative;
  top:100px;}

.nav a {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  width: 80%;
  padding: 20px 10px;
  text-transform: uppercase;
  font-family: Helvetica;
  font-color: #FFFFFF;
  text-decoration: none;}

  .imageContainer {
    position: relative;
    width: 25%;
    padding-bottom: 25%;
    float: left;
    height: 0;
}

body {
background-color: #0c0c0c;}

h2 {
text-align: center;
font-family: Helvetica;
color: #FFFFFF;
font-size: 80px;
padding-bottom: 100px;
margin-top: 10px;
}

h1 {
text-align: center;
font-family: Helvetica;
color: #FFFFFF;
font-size: 80px;
font-weight: bold;
padding-top: 5px;
margin-bottom: 20px;
}

h3 {
font-family: Helvetica;
color: #FFFFFF;
font-size: 16px;
font-weight: 400;
line-height: 20px;

}

h4 {
text-align:right;
font-family: Helvetica;
color: #FFFFFF;
font-size: 34px;
font-weight: 400;
font-weight:bold;
margin-top:-5px;

}

h5 {
text-align:left;
font-family: Helvetica;
color: #FFFFFF;
font-size: 34px;
font-weight: 400;
font-weight:bold;

}

h6 {
margin-left:30px;
text-align:left;
font-family: Helvetica;
color: #FFFFFF;
font-size: 34px;
font-weight: 400;
font-weight:bold;
margin-bottom:10px;

}

#nav3 {
font-family: Helvetica;
line-height:18px;
font-size:34px;
background-color:#0c0c0c;
color:#FFFFFF;
height:300px;
width:470px;
float:right;
margin-top:20px;
margin-right:40px; 
text-align:right;
}

#nav2 {
font-family: Helvetica;
line-height:18px;
font-size:14px;
background-color:#0c0c0c;
color:#FFFFFF;
height:300px;
width:470px;
float:right;
margin-top:0px;
margin-right:40px; 
text-align:right;
}

#header2 {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
    margin-top:20px;
}
#nav {
    line-height: 30px;
    background-color: #0c0c0c;
    height: 300px;
    width: 433px;
    float: left;
    margin-top: 20px;
    margin-left: 40px;
}
#section {
    width:650px;
    float:right;
}

.animals {
    position:relative;
    display: block;
    margin: 10 auto;
    padding-top:50px;
}

#EDGE-6782986 {
float:right;
}

footer {
  font-family:helvetica;
  color: #FFFFFF;
  font-size: 12px;
}